a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
}

.header {
    display: flex;
    margin: 14px 12px 21px 18px;
}

.header_logo_link {
    padding-top: 26x;
    padding-bottom: 48px;
    padding-right: 337px;
    padding-left: 59px;
    /* margin-left: 375px;
    margin-top: 40px; */
}

.header_links {
    display: flex;
    padding-top: 26x;

    /* margin-right: 375px;
    margin-left: 500px;
    margin-top: 51px; */
    justify-content: space-around;
    gap: 20px;


}

.header_link_home {
    margin-right: 15px;
    text-decoration: none;
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_link {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_content {
    display: flex;
    margin-right: 27px;
    margin-left: 18px;
    margin-bottom: 53px;
}

.top_info {
    margin-top: 15px;
    margin-right: 13px;
    margin-left: 16px;
}

.title {
    padding-top: 59px;
    padding-left: 41px;
    padding-right: 26px;
    padding-bottom: 17px;
    margin-left: 375px;
    margin-top: 164px;
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    padding-left: 41px;
    padding-right: 82px;
    padding-bottom: 16px;
    margin-left: 375px;
    margin-top: 403px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_buttons {
    display: flex;
    margin-left: 20px;
    margin-right: 195px;
    margin-bottom: 38px;
}

.button_start {
    width: 140px;
    height: 50px;
    margin-left: 23px;
    padding-top: 15px;
    padding-bottom: 16px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.button_watch {
    margin-left: 72px;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    background: none;
}

.top_image {
    width: 544.81px;
    height: 374.84px;
}

.top_logo {
    margin: 53px 45px 32px 34px;
    padding-left: 13px;
    padding-right: 27px;
    display: flex;
    justify-content: space-between
}

.logo {
    margin-right: 48px;
}