* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: #FFF;
}

.header {
    display: flex;
    gap: 500px;
}

.header_logo_link {
    padding-left: 375px;
    padding-top: 40px;
}

.header_links {
    width: 533px;
    height: 17px;
    padding-top: 51px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header_link_home {
    text-decoration: none;
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_link {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_content {
    display: flex;
    justify-content: flex-start;
    gap: 39px;
    padding-left: 373px;
    padding-top: 84px;
    padding-bottom: 162px;
}

.top_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    padding-bottom: 17px;
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    padding-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_buttons {
    display: flex;
    gap: 72px;
}

.button_start {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.button_watch {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    background: none;
}

.top_image {
    width: 610.73px;
    height: 372.9px;
}

.top_logo {
    padding: 97px 375px 96px 345px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 48px;
}