/*1.	Открыть работу из предыдущего семинара (или скачать по ссылке)
2.	Создать файл стилей style.css
3.	Подключить ко всем страницам
4.	Задать стиль
a {
   text-decoration: none;
}/

/*1.	Разделить экран на 2 части, сделать так чтобы файл стилей располагался справа, а все html файлы были слева
2.	Для всех ссылок меню задать класс (придумать логичное название класса)
3.	Для класса меню задать стили
a.	    color: cornflowerblue;
b.	    font-size: 16px;
c.      line-height: 20px;
4.	Проверить отображения стилей на всех страницах проекта
5.	Для всех заголовков h1 на сайте задать класс и к нему стиль
a.	    color: #222222;
b.	    font-size: 28px;
c.	    line-height: 36px;
d.	    font-weight: bold;*/

/*1.	Для всех параграфов в проекте задать класс
2.	К данному классу задать стили
a.	    font-style: normal;
b.	    font-weight: 300;
c.	    font-size: 18px;
d.	    line-height: 30px;
e.	    color: #7D7987
3.	На главной странице заголовку h2 задать класс
4.	К данному классу указать стиль 
a.	    color: coral;
b.	    font-style: normal;
c.	    font-weight: 700;
d.	    font-size: 36px;
e.	    line-height: 80px;
5.	На странице обо мне
6.	Создать класс для изображения 
7.	Указать стиль для изображения 
a.	border-radius: 10px;
b.	Атрибутом задать значение ширины для картинки*/

/* 1.	На странице “Оставить заявку” всем полям ввода задать класс
2.	Для полей ввода задать стиль
a.	    width: 200px;
height: 30px;
c.	    outline: none;
d.	    border: 1px solid #ccc;
e.	    border-radius: 15px;
f.	    font-size: 14px;
g.	    line-height: 30px;
3.	Всем кнопкам задать класс
4.	Всем кнопкам указать стиль
a.	    width: 100px;
b.	    height: 30px;
c.	    font-size: 14px;
d.	    border: 1px solid #ccc;
e.	    border-radius: 10px;
5.	Для всех страниц указать стиль для тега body
a.	font-family: sans-serif;*/

/* Создат список из 3-ех произвольных элементов и добавить на страницу Обо мне
Списку задать стили:
font-size: 18px;
border-botton: 1px solid #ccc;*/

a {
    text-decoration: none;
}

.menulink {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraf {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.header2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.input_field {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.body {
    font-family: sans-serif;
}

.list_elements {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}