a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #020a18;
    font-family: sans-serif;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.header_link {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top_content {
    text-align: left;
    display: flex;
}

.top_info {
    margin-right: 128px;
}

.text_one {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 40px;
}

.text_two {
    margin-bottom: 50px;
}

.top_button {
    padding: 15px 30px;
}