* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    margin: 0 auto;
    max-width: 1600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 75px;
    background-color: #222;
    /* padding: 18px 240px 19px 231px; */
}

.header__left {
    margin-left: 231px;
    display: flex;
    gap: 41px;
    align-items: center;
}

.header_logo:hover {
    transform: scale(1.1);
}

.header_search:hover {
    transform: scale(1.1);
}

.header_profile:hover {
    transform: scale(1.1);
}

.header_basket:hover {
    transform: scale(1.1);
}

.header__right {
    margin-right: 241px;
    display: flex;
    align-items: center;
}

.header_profile {
    margin-left: 33px;
    margin-right: 33px;
}

.header__checkbox {
    position: absolute;
    visibility: hidden;
    left: -9999999px;
}

.header__checkbox:checked~.dropdowm__menu {
    transform: scaleX(1);
    right: 0;
}

.dropdowm__menu {
    position: absolute;
    top: 77px;
    right: -116px;
    transform: scaleX(0);
    z-index: 1;
    transition: all 0.6s;
    width: 232px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgb(0, 0, 0, 0.21);
    padding: 32px;
    box-sizing: border-box;
}

.dropdowm__menu_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 24px;
}

.dropdowm__menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.dropdowm__menu_link:hover {
    color: #F16D7F;
}

.dropdowm__menu_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.dropdowm__menu_list {
    list-style-type: none;
    padding-left: 21px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
}

.dropdowm__menu__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
}

.top__conteiner {
    display: flex;
    max-height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
    gap: 63.42px;
}

.top__conteiner_img {
    max-width: 100%;
}

.top__conteiner_left {
    display: flex;
    align-items: flex-end;
}

.top__conteiner_right {
    display: flex;
    align-items: center;
    margin-right: 331px;
    gap: 16px;
}

.top__conteiner_vector {
    width: 12px;
    height: 92px;
    background: #F16D7F;
}

.top__conteiner_text-lg {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top__conteiner_text-xs {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top__conteiner_text-xs-color {
    color: #F16D7F;
}

.content__conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 230px;
}

.selection__conteiner {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.selection__conteiner_box {
    display: flex;
    gap: 30px;
}

.selection__conteiner_box-xs {
    position: relative;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selection__conteiner_box-xs-img {
    max-width: 100%;
}

.selection__conteiner_box-lg {
    position: relative;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selection__conteiner_box-lg-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.selection__conteiner_box-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selection__conteiner_box-text-small {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.selection__conteiner_box-text-big {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.assortment__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.assortment__container_subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.assortment__container_subject_text-lg {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.assortment__container_subject_text-xs {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.assortment__content_container {
    margin-top: 48px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.assortment__content_box {
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;
}

.assortment__content_box:hover .assortment__content_box-img {
    filter: brightness(0.5);
}

.assortment__content_box-title {
    padding-top: 24px;
    padding-left: 16.46px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.assortment__content_box-text {
    padding-top: 12.65px;
    padding-bottom: 18px;
    padding-left: 16.46px;
    padding-right: 28.8px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.assortment__content_box-price {
    padding-left: 16.46px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.assortment__content_link {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.assortment__content_link-text {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px 39px 15px 39px;
    background: #FFF;
    border: #F16D7F solid 1px;
    transition: all 0.3s;
}

.assortment__content_link-text:hover {
    color: #fff;
    background-color: #F26376;
}

.assortment__content_btn_add {
    position: absolute;
    width: 138.614px;
    height: 43.878px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

.assortment__content_btn {
    display: none;
}

.assortment__content_btn:hover {
    box-shadow: 0 0 5px #fff;
}

.assortment__content_box:hover .assortment__content_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 347px;
}

.features {
    background-color: #222224;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 104px;
    padding-bottom: 104px;
}

.feature__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__img {
    margin-bottom: 25px;
}

.feature__img_sale {
    margin-bottom: 19px;
}

.feature__heading {
    color: #FBFBFB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.feature__desc {
    color: #FBFBFB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    max-width: 360px;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 230px 126px 228px;
    background: url(img/background.png), 0 -169px /100% 246.875% no-repeat lightgray;
}

.avatar {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.avatar_text {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 360px;
}

.subscribe__box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.subscribe__subject_title {
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.subscribe__subject_subtitle {
    color: #222224;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe__form {
    display: flex;
    justify-content: center;
    max-width: 360px;
}

.email__input {
    max-width: 256px;
    padding: 16px 64px 16px 22px;
    background-color: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.6;
    border: none;
    outline: none;
    margin: 0;
}

.email__input::placeholder {
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.sub_btn {
    max-width: 100px;
    padding: 15px 7px 15px 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F16D7F;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    transition: 0.3s;
}

.sub_btn:hover {
    background-color: #f1afaf;
    color: #c73649;
}

.contacts {
    background-color: #222224;
    padding: 24px 230px 23px 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 332px;
}

/* .social__icons {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.contacts__icon {

    width: 32px;
    height: 32px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.contacts__icon:hover {
    background-color: #F16D7F;
} */


.social__contacts {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.social__contacts_icon {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.social__contacts_icon:hover {
    background-color: #F16D7F;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .center {
        width: 100%;
    }

    .header__left {
        margin-left: 32px;
    }

    .header__right {
        margin-right: 32px;
    }

    .header_profile {
        margin-left: 25px;
        margin-right: 42px;
    }

    .top__conteiner {
        max-height: 368px;
        gap: 39px;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 65px;
    }

    .top__conteiner_img {
        max-width: 368px;
        max-height: 386px;
    }

    .top__conteiner_right {
        margin-right: 33.57px;
    }

    .top__conteiner_text-lg {
        font-size: 44px;
    }

    .top__conteiner_text-xs {
        font-size: 24px;
    }

    /* .content-center {
        max-width: 1024px;
        margin: 0 16px;
    } */

    .selection__conteiner {
        gap: 20px;
        margin-bottom: 109px;
    }

    .selection__conteiner_box {
        gap: 20px;
    }

    .selection__conteiner_box-xs {

        max-width: 232.33px;
    }

    .selection__conteiner_box-lg {
        max-width: 736px;
    }


    .assortment__container_subject center {
        gap: 3.3px;

    }

    .assortment__content_container {
        margin-top: 73.74px;
        margin-bottom: 32.48px;
        grid-template-columns: repeat(2, 360px);
        gap: 14px;
    }

    .assortment__content_link {
        margin-bottom: 65px;
    }

    .features {
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 48px;
        padding-left: 14%;
        padding-right: 14%;
        background-position: -230px center;
        background-size: cover;
        padding-top: 53px;
        padding-bottom: 140px;
    }

    .subscribe__box {
        gap: 27px;
    }

    .contacts {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .center {
        width: 100%;
    }

    .header__left {
        margin-left: 16px;
    }

    .header__right {
        margin-right: 26px;
    }

    .header_profile {
        display: none;
    }

    .header_basket {
        display: none;
    }

    .top__conteiner {
        margin-bottom: 64px;
    }

    .top__conteiner_left {
        display: none;
    }

    .top__conteiner_right {
        padding: 148px 56px;
    }

    .top__conteiner_text-lg {
        font-size: 38px;
    }

    .top__conteiner_text-xs {
        font-size: 20px;
    }

    .top__conteiner_vector {
        height: 61px;
    }

    .content-center {
        margin: 0;
        gap: 64px;
    }

    .selection__conteiner {
        margin-bottom: 64px;
    }

    .selection__conteiner_box {
        display: grid;
        grid-template-columns: repeat(1, 343px);
        gap: 32px
    }

    .selection__conteiner_box-xs {
        max-width: 343px;
    }

    .selection__conteiner_box-lg {
        width: 343px;
        height: 111px;
    }

    .selection__conteiner_box-lg-img {
        width: 343px;
        height: 111px;
        object-fit: cover;
    }

    .assortment__container_subject center {
        gap: 3.5px;
    }

    .assortment__content_container {
        margin-top: 64px;
        margin-bottom: 40px;
        grid-template-columns: repeat(1, 360px);
        gap: 15px;
    }

    .assortment__content_link {
        margin-bottom: 96px;
    }

    .features {
        flex-direction: column;
        align-items: center;
        gap: 46px;
        padding-top: 48px;
        padding-bottom: 81px;
    }

    .feature__item {
        width: 93%;
    }

    .subscribe {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 59px;
        padding-left: 2%;
        padding-right: 2%;
        background-position: -500px;
        background-size: cover;
        padding-top: 53px;
        padding-bottom: 140px;
    }

    .avatar_text {
        font-size: 18px;
    }

    .subscribe__subject_subtitle {
        font-size: 14px;
    }

    .subscribe__box {
        gap: 22px;
    }

    .email__input {
        padding: 16px 30px 16px 21px;
    }

    .contacts {
        flex-direction: column-reverse;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 9px;
        padding-left: 10%;
        padding-right: 10%;
    }
}